<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decider 2000</title>

  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <script type="text/javascript" src="/semantic/dist/semantic.min.js"></script>
  <script type="text/javascript" src="/scripts/results.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>

<body>

  <div id="content-container" class="ui raised inverted container  segment">

    <h1 class="ui header">The results are in!</h1>
    <div id="cards-results" class="ui three stackable cards">
      <div class="ui centered card">
        <div class="content">
          <div class="ui huge header">Bubu Kong</div>
          <div class="meta">Meow!</div>
          <div class="description">Rank: 0</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="content">
         <div class="header">Option 2</div>
         <div class="description">Desc 2</div>
       </div>
     </div>
     <div class="ui centered card">
      <div class="content">
        <div class="header">Option 3</div>
        <div class="description">Desc 3</div>
      </div>
    </div>
    <div class="ui centered card">
      <div class="content">
        <div class="header">Option 4</div>
        <div class="description">Desc 4</div>
      </div>
    </div>
          <div class="ui centered card">
        <div class="content">
          <div class="ui huge header">Bubu Kong</div>
          <div class="meta">Meow!</div>
          <div class="description">Rank: 0</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="content">
         <div class="header">Option 2</div>
         <div class="description">Desc 2</div>
       </div>
     </div>
     <div class="ui centered card">
      <div class="content">
        <div class="header">Option 3</div>
        <div class="description">Desc 3</div>
      </div>
    </div>
    <div class="ui centered card">
      <div class="content">
        <div class="header">Option 4</div>
        <div class="description">Desc 4</div>
      </div>
    </div>
          <div class="ui centered card">
        <div class="content">
          <div class="ui huge header">Bubu Kong</div>
          <div class="meta">Meow!</div>
          <div class="description">Rank: 0</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="content">
         <div class="header">Option 2</div>
         <div class="description">Desc 2</div>
       </div>
     </div>
     <div class="ui centered card">
      <div class="content">
        <div class="header">Option 3</div>
        <div class="description">Desc 3</div>
      </div>
    </div>
    <div class="ui centered card">
      <div class="content">
        <div class="header">Option 4</div>
        <div class="description">Desc 4</div>
      </div>
    </div>
  </div>
</div>




</body>
</html>
