#list-phone-number .item:first-child{
  border-top: 1px solid white !important;
}

#list-phone-number .item{
  border-bottom: 1px solid white !important;
}

#list-phone-number {
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}
