$containerWidth: 80vw;
$containerHeight: 80vh;
$containerMarginHorizontal: 10vw;
$containerMarginVertical: 10vh;
$containerPadding: 12vw;

#content-container{
  width: $containerWidth;
  height: $containerHeight;
  padding: $containerPadding;
}

body {
  padding: $containerMarginVertical $containerMarginHorizontal;
}
